<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<div id="pageTitleSelection">
    <h2>
        <f:translate key="LLL:EXT:ai_seo_helper/Resources/Private/Language/backend.xlf:AiSeoHelper.pageTitleSuggestionsHeader" />
    </h2>
    <p>
        <f:translate key="LLL:EXT:ai_seo_helper/Resources/Private/Language/backend.xlf:AiSeoHelper.pageTitleSuggestionsSubheader" />
    </p>
    <f:if condition="{showRawContent}">
        <f:then>
            <f:format.nl2br>{pageTitleSuggestions}</f:format.nl2br>
        </f:then>
        <f:else>
            <f:for each="{pageTitleSuggestions}" as="pageTitleSuggestion" iteration="it">
                <div class="mt-1 mb-2 d-flex justify-content-start align-items-center">
                    <input type="radio" id="suggestion{it.index}" name="page_title" value="{pageTitleSuggestion}" class="mx-1">
                    <label for="suggestion{it.index}" class="mb-0">
                        {pageTitleSuggestion}
                    </label><br>
                </div>
            </f:for>
            <button class="mb-3 mt-1 btn btn-primary" id="setPageTitleBtn">
                <f:translate key="LLL:EXT:ai_seo_helper/Resources/Private/Language/backend.xlf:AiSeoHelper.setPageTitle" />
            </button>
            <button class="mb-3 mt-1 btn btn-primary" id="dropPageTitleBtn">
                <f:translate key="LLL:EXT:ai_seo_helper/Resources/Private/Language/backend.xlf:AiSeoHelper.removeSuggestions" />
            </button>
        </f:else>
    </f:if>
</div>

</html>
