# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Attention:
#   Only " ;" can start an inline comment.
#   This is: blank PLUS semicolon!
#
# #####

[general]

project     = AI SEO-Helper
version     = 0.6
release     = 0.6.0
t3author    = Manuel Schnabel
copyright   = 2023

description = Generates SEO metadata based on page content using AI.

[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = latest
github_commit_hash   =
github_repository    = passionweb-manuel-schnabel/ai-seo-helper
github_revision_msg  =
github_sphinx_locale =
project_contact      = service@passionweb.de
project_discussions  =
project_home         = https://extensions.typo3.org/extension/ai-seo-helper
project_issues       = https://github.com/passionweb-manuel-schnabel/ai-seo-helper/issues
project_repository   = https://github.com/passionweb-manuel-schnabel/ai-seo-helper

[intersphinx_mapping]

; Comment out what you don't use.
; Uncomment only what you actually use in crossreferencing!

# t3api         = https://typo3.org/api/typo3cms/
# t3cgl         = https://docs.typo3.org/typo3cms/CodingGuidelinesReference/
# t3coreapi     = https://docs.typo3.org/typo3cms/CoreApiReference/
# t3fal         = https://docs.typo3.org/typo3cms/FileAbstractionLayerReference/
# t3inside      = https://docs.typo3.org/typo3cms/InsideTypo3Reference/
# t3security    = https://docs.typo3.org/typo3cms/SecurityGuide/
# t3services    = https://docs.typo3.org/typo3cms/Typo3ServicesReference/
# t3skinning    = https://docs.typo3.org/typo3cms/SkinningReference/
# t3start       = https://docs.typo3.org/typo3cms/GettingStartedTutorial/
# t3tca         = https://docs.typo3.org/typo3cms/TCAReference/
# t3tsconfig    = https://docs.typo3.org/typo3cms/TSconfigReference/
# t3tsref       = https://docs.typo3.org/typo3cms/TyposcriptReference/
# t3tssyntax    = https://docs.typo3.org/typo3cms/TyposcriptSyntaxReference/
